body { 
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    color: #555;
}
#primero {
    color: #369;
}
a {
    color: #C30;
}
#primero em {
    color: #0000BB;
    background-color: #FFFFCC;
}
#segundo .especial {
    color: #FFFF00; 
    background-color: #000000; 
  }
.normal span {
    font-weight: bold;

}